.notification.col-12.col-sm-10.col-md-8.col-lg-6.col-xl-4.mx-auto.mt-2.pt-1.pb-2.px-3
    .header.d-flex
        img.rounded-circle.mr-1(src="https://www.adl-logistica.org/wp-content/uploads/2019/07/imagen-perfil-sin-foto.png", alt="imagen perfil usuario", width="30px", height="30px")
        p.usuarioR
        button.cerrarNotificacion.ml-auto
            span &times;
    .body
        p.message.ml-1
        p.hora
            small.fecha